@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    @apply antialiased;
  }

  body {
    @apply bg-blanc text-noir;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-orange via-safran to-rouge bg-clip-text text-transparent;
  }
}
